body {
  background-color: $background;
  h1 {
    font-size: 4rem;
    color: $font;
    font-family: $heading;
    text-transform: uppercase;
    font-weight: 300;
  }
  p {
    color: $font;
    font-size: 1.2rem;
    font-family: $para;
  }
}
